@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");


@import url("components/container.css");
@import url("components/avatar.css");

@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
body {
  font-family: fantasy;
  font-size: 18px;
  margin: 0px;
}
h1, h2, h3 {
 font-family: fantasy;
  font-weight: bold;
  margin: 10px;
}
a {
  text-decoration: none;
}
